<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194914790825-up564lq9l1tbceo12kdjs4annvr6t487.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194914790825-up564lq9l1tbceo12kdjs4annvr6t487</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ3XxNZ8SU2wGed6J4qwYa60P923UdiDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>194914790825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>changhyen.GrapeTodo</string>
	<key>PROJECT_ID</key>
	<string>grapetodo</string>
	<key>STORAGE_BUCKET</key>
	<string>grapetodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194914790825:ios:5d3f17c8dc4cc6647be8b8</string>
</dict>
</plist>